* {
  box-sizing: border-box;
}

body {
  background-color: rgb(139, 94, 25);
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1000px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
}

.block {
  width: auto;
  height: 50px;
  background-color: black;
  margin-bottom: 10px;
}

nav a {
  line-height: 55px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding-right: 66px;
  margin-left: 66px;
}

.active {
  background: rgb(45, 57, 58);
  width: 180px;
  height: 50px;
  display: inline-block;
}

.img_river {
  width: 960px;
  margin-bottom: -20px;
}

h1 {
  color: rgb(139, 94, 25);
  margin-bottom: -10px;
}

.subtext {
  font-size: 13px;
}

a {
  color: rgb(84, 138, 68);
  text-decoration: none;
}

.text p {
  margin: 30px 0px;
  line-height: 1.9;
  text-align: justify;
}

footer {
  width: auto;
  height: 70px;
  background-color: rgb(193, 218, 185);
  text-align: center;
  color: black;
  line-height: 70px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 60px;
}

.container {
  display: flex;
}

main {
  width: 590px;
  padding-right: 10px;
  padding-left: 15px;
}

.right {
  margin-left: 70px;
  width: 310px;
  padding-top: 40px;
}

.panels {
  background-color: rgb(223, 222, 206);
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.panel {
  background-color: rgb(110, 158, 190);
  line-height: 45px;
  padding-left: 10px;
  color: white;
  margin-top: -5px;
  padding-left: 15px;
}

.panel_text p {
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(206, 204, 189);
  font-size: 15px;
}

.title h1 {
  color: white;
  padding-left: 470px;
}

.panel_text_info p {
  padding-left: 15px;
  line-height: 2;
  font-size: 15px;
  padding-bottom: 7px;
}
